<!doctype html>
<%= partial "partials/ie-hacks" %>
<head>
  <%= partial "partials/head-meta" %>
  <title><%= data.page.title %> </title>
  <%= partial "partials/head-links" %>
</head>

<body>




<div id="main">
  <%= yield %>
</div>

<footer>

</footer>


</body>
</html>